# Copy this file to .env and fill in your values
EMAIL_HOST=<YOUR_EMAIL_HOST>
EMAIL_PORT=<YOUR_EMAIL_PORT>
EMAIL_USER=<YOUR_EMAIL_USER>
EMAIL_PASS=<YOUR_EMAIL_PASS>
NOTIFICATION_EMAIL=<YOUR_NOTIFICATION_EMAIL>
